header{
display: flex;
justify-content: center;
background-color:red;
}
div{
    background-color: skyblue;
}
h2{ display: flex;
    justify-content: center;
    align-content: center;

}
form{
    display: flex;
    justify-content: center;
    align-content: center;
}
